{% load static %}
{% load i18n %}

<html>

  <head>
    <meta charset="utf-8">
    <title>Task</title>
    <link rel="stylesheet" href="{% static 'tasks/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
  </head>

  <body>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'tasks:index' %}">Lista de Tareas</a></li>
          <li><a href="{% url 'accounts:account_detail' %}">Información del miembro</a></li>
          <li><a href="{% url 'accounts:logout' %}">Cerrar sesión</a></li>
        {% else %}
          <li><a href="{% url 'accounts:login' %}">Acceso a la cuenta</a></li>
          <li><a href="{% url 'accounts:register' %}">Registro de cuenta</a></li>
        {% endif %}
      </ul>
    </nav>
    <main>
      <div>
        {% block main %}
        {% endblock %}
      </div>
    </main>
  </body>

</html>
